/*Any style added to this will affect all the pages*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*************************** Menu Navigation *********************************/

#navigation-container-1{
    width: 100vw;
    height: auto;
    display: flex;
    /*Displays the elements horizontally*/
    flex-direction: row;
    align-items: center;
    /*The gap between the navigation elements and the side of the page*/
    justify-content: space-around;
    background-color: white;
    /*Ensures that the navigation is at the top of all the elements*/
    z-index: 1000;
    box-shadow: 0px 7px 4px rgba(83, 83, 83, 0.7);
}

#navigation-container-2{
    width: 100vw;
    height: auto;
    display: none;
    /*Displays the elements horizontally*/
    flex-direction: row;
    align-items: center;
    /*The gap between the navigation elements and the side of the page*/
    justify-content: space-around;
    background-color: white;
    /*Ensures that the navigation is at the top of all the elements*/
    z-index: 1000;
    box-shadow: 0px 7px 4px rgba(83, 83, 83, 0.7);
}

/*Changes the size of the logo*/
#navigation-logo{
    height: 4em;
    width: 15em;
}

#navigation-links{
    /*Removes the dots from the list items*/
    list-style-type: none;
    display: flex;
    /*Arranges the items horizontally*/
    flex-direction: row;
    /*Adds a gap between the list items*/
    gap: 1.3em;
    /*Increases the size of the text*/
    font-size: 18px;
}

.nav-links{
    /*Removes the underline of the text*/
    text-decoration: none;
    /*Change the colour of the text*/
    color: black;
    /*Make the text bold*/
    font-weight: bold;
    /*Makes smoother transition between colours, within 1ms*/
    transition: 1ms ease;
}

/*Changes the colour of the menu items when hovered*/
.nav-links:hover{
    color: #165d89;
}


/*Designes the sign in button of the navigation menu*/
#sign-in-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    /*The 1st value is the top and bottom padding, and the 2nd value is the right and left padding*/
    padding: 10px 20px;
    background-color: #109bff;
    /*Makes the transition between background colours smoother*/
    transition: 0.5s ease;
}

/*Designes the sign up button of the navigation*/
#sign-up-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    /*The 1st value is the top and bottom padding, and the 2nd value is the right and left padding*/
    padding: 10px 20px;
    background-color: #9FC9E7;
    /*Makes the transition between background colours smoother*/
    transition: 0.5s ease;
}

/*Change background color and text color of the sign in and sign up button*/
#sign-up-link:hover,
#sign-in-link:hover{
    background-color: #165d89;
    color: white;
}


/*Prevents the checkbox from beeing displayed*/
#toggler{
    display: none;
}

/*Change the size of the menu icon*/
.bx-menu{
    font-size: 2em;
    cursor: pointer;
}

/*Change the colour of the menu icon when active and hovered*/
.bx-menu:hover,
.bx-menu.active{
    color: #109bff;
}

/*Changes the layout of the menu items and makes a blury background*/
.menu-list{
    display: none;
    position:fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    list-style-type: none;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    /*Makes the background blury*/
    backdrop-filter: blur(10px);
    /*Adds a shadow on the left side of the navigation*/
    box-shadow: -7px 0 7px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    padding-top: 20px;
}

/*Changes the colour of the text, adn removes the underline*/
.menu-list a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/*Creates a gap between the menu items and the left side of the navigation*/
.menu-list li{
    transform: translateX(10px);
}

/*Changes the colour of the text when hovered*/
.menu-list a:hover{
    color: #109bff;
}

/*Prevents the checkbox from beeing displayed for the "X"*/
#check{
    display: none;
}

/*Changes the size and prevents "X" from being diaplyed unless the menu icon
has been clicked on*/
.bx-x{
    font-size: 3em;
    cursor: pointer;
    gap: 10px;
    display: none;
}


/*Changes the colour of the "X" when hovered and when it is active*/
.bx-x:hover,
.bx-x.active{
    color: #109bff;
}


/************************** Footer **************************/

#footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 3em;
    /*Adds a shadow at the top of the page*/
    box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.2);
}

/*Customise footer links*/
#footer-container a{
    text-decoration: none;
    color: black;
}

/*Arranges the links within the footer in row*/
#footer-link-list{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/*Separates the footer link with "|" */
/*::after means that the content will be displayed after the text with the 
specified class*/
#footer-link-list .footer-link::after{
    content: "|";
    color: black;
    font-weight: bold;
    padding-left: 1em;
}

/************************** Homepage ************************/


/*Defines the height of the header, and centers the elements*/
#homepage-header{
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

#homepage-header-left{
    display: flex;
    /*Sets the width of the text in the header*/
    flex: 40%;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding-left: 7%;
}


#homepage-header-left a,
#about-us-section a{
    border-radius: 30px;
    /*Sets the padding for the top, bottom, righ. left of the text and the background*/
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #9fc9e7;
    /*Sets the width of the button*/
    width: 5.5em;
    /*Centers the text for the CTA button*/
    text-align: center;
    /*Defines the type of cursor*/
    cursor: pointer;
}

/*Sets the width for the image of the header*/
#homepage-header-right{
    display: flex;
    flex: 60%;
}

/*Changes the size of the image*/
#homepage-header-right img{
    width: 100%;
    height: auto;
}

/*Arranges text and colours the background beige*/
#attract-users{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #109bff;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*Changes the text design*/
#attract-users span{
    font-weight: bold;
    color: black;
    font-size: 2em;
}

/*Creates a "benefits" section*/
#what-we-offer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    gap: 7em;
    align-items: center;
}

/*Left side of the benefits section*/
#what-we-offer-img{
    display: flex;
    /*This will take up 30% of the width*/
    flex: 30vw;
}

/*Right side of the benefits section*/
#what-we-offer-text{
    display: flex;
    /*This will take up 70% of the width*/
    flex: 70vw;
    flex-direction: column;
    gap: 5em;
}

/*Specifies the size of the image in benefits section*/
#what-we-offer-img img{
    height: 57em;
    width: 56em;
}

/*Prevents image from beeing displayed*/
#benefit-image-2{
    display: none;
}

/*Prevents image from beeing displayed*/
#benefit-image-3{
    display: none;
}

/*Prevents image from beeing displayed*/
#benefit-image-4{
    display: none;
}

/*Separates the benefits sections into two rows*/
#what-we-offer-top,
#what-we-offer-bottom{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

/*Specifies the size and border colour of benefit section*/
.benefit-1,
.benefit-2,
.benefit-3,
.benefit-4{
    /*Width, type, colour of the border*/
    border: 3px solid black;
    border-radius: 20px;
    padding: 5em 5em;
    height: 10em;
    width: 20em;
    /*Center the text*/
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

/*Changes the colour of benefits section when hovered*/
.benefit-1:hover,
.benefit-2:hover,
.benefit-3:hover,
.benefit-4:hover{
    background-color: #9FC9E7;
}

/*Changes the colour of the benefits sections when focused (clicked)*/
.benefit-1:focus,
.benefit-2:focus,
.benefit-3:focus,
.benefit-4:focus{
    background-color: #109bff;
}

#about-us-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 30em;
    /*Adds a shadow at the top and bottom of the about us section*/
    box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.2), 0px 7px 7px rgba(0, 0, 0, 0.2);
}

/*Customises the position of FAQ container*/
#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding-top: 4em;
    padding-bottom: 4em;
}

#faq-top{
    text-align: center;
}

#faq-bottom{
    height: auto;
    /*Sets the size of the FAQ container to 90%, whcih ensures 
    that the software is responsive to screen size*/
    width: 90%;
    padding-bottom: 3em;
}

#faq-bottom details{
    /*Changes the color of the FAQ container*/
    background-color: #303030;
    color: #ffffff;
    font-size: 1.5rem;
    /*Adds a shadow between the question sections*/
    box-shadow: 7px 0px 8px rgba(0, 0, 0, 0.4);
}

/*Customise the question section of the FAQ*/
#faq-bottom summary{
    padding: .8em 1.5rem;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /*Adds transition when displaying the answers to the question
    once the user clicks on the question*/
    transition: height 1s ease;
}

/*Changes the colour of the text and icon of the question section of the FAQ*/
#faq-bottom summary:hover,
#faq-bottom summary:focus{
    color: #9FC9E7;
}

/*Customise the icon size*/
#faq-bottom summary i{
    font-size: 30px;
    font-weight: bold;
}

/*Customise the paragraph text size and the padding around it*/
#faq-bottom p{
    padding: .8em 1.5rem;
    font-size: 20px;
}

/*Prevent the down pointing arrow type icon*/
.bx-chevron-down{
    display: none;
}

/************************* Sign Up and Sign In *************************/

/*Places the sign in and sign up title in the center (horizontally), and increases its size*/
#sign-up-text,
#sign-in-text{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#sign-up-container,
#sign-in-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Sets the size of the images*/
#sign-up-container img,
#sign-in-container img{
    width: 35em;
    height: 35em;
}

/*Customises each sign in/up container*/
.sign-up-choice,
.sign-in-choice{
    /*Sets a border around the sign in/up conatainer*/
    border: 2px solid rgb(75, 73, 73);
    border-radius: 20px;
    /*Set a padding for the border and the image and text inside the border*/
    padding: 2em;
    /*Adds a shadow around each container to enhance it*/
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2), -7px -7px 7px rgba(0, 0, 0, 0.2);
}

.sign-up-choice div,
.sign-in-choice div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 35em;
    height: 10em;
}

.sign-up-choice div h3,
.sign-in-choice div h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

/*Customise the sing in and sign up buttons*/
.sign-up-choice div a,
.sign-in-choice div a{
    text-decoration: none;
    color: black;
    /*Sets border radius to 30px*/
    border-radius: 30px;
    /*Adds padding to the left, right, top and bottom*/
    padding: 10px 20px;
    background-color: #9FC9E7;
    font-weight: bold;
    /*Centers the text in the biddle of its border*/
    text-align: center;
}

/*Customsie the "BACK TO HOME" link*/
#back-to-home-link{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-home{
    /*Sets the color for the "BACK TO HOME" link*/
    color: rgb(100, 100, 100);
    /*Make the link text bold*/
    font-weight: bold;
    /*Changes the sie of the link text*/
    font-size: 19px;
}


/************************* Sign Up/In Students, Tutors and Parents ***************************/

.sign-logo{
    /*The first value is how much the shadow should be to the left side,
    the second how much it should be to the bottom, and the third is the blur*/
    filter: drop-shadow(8px 7px 3px rgb(185, 174, 174));
}

.sign-container{
    display: flex;
    flex-direction: row;
}

/*Positions the sign in/up form on the left side and takes up 40% of the width*/
.sign-form{
    height: 100vh;
    display: flex;
    flex: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/*Positions the sign in/up form on the right and takes up 60% of the width*/
.sign-image{
    display: flex;
    flex: 60%;
    align-items: center;
    justify-content: center;
}

/*Changes the size of the image*/
.sign-image img{
    width: 80em;
    height: 70em;
}

/*Add a line for the sign in and sign up text around the "OR" text*/
.line-with-text{
    text-align: center;
    /*Adds the text*/
    border-bottom: 1px solid #000000;
    line-height: 0.1em;
    /*Adds a margin at the top and bottom*/
    margin: 10px 0 20px;
}

.line-with-text span{
    /*Adds padding between "OR" text and line*/
    padding: 0 10px;
    background-color: #ffffff;
}

/*Customise the sign in/up with google button*/
.sign-google{
    border-radius: 30px;
    height: 2.5em;
    background-color: rgba(209, 209, 209, 0.5);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

/*Arranges the input fields in columns and adds a gap between each of them*/
.sign-input-fields{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*Arranges each of the label and input pairs in columns and adds
a gap between them*/
.sign-input-fields div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*Customise the label*/
.input-field label{
    font-size: 17px;
    font-weight: bold;
    color: black;
}

/*Customise the input fields*/
.input-field input{
    outline: none;
    border: none;
    border-radius: 30px;
    background: rgba(209, 209, 209, 0.5);
    height: 2.3em;
    transition: 0.7s ease;
    padding: 3px 10px;
    width: 35em;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/*Adds a shadow around the curved input field/button
and changes background colour when hovered or focused*/
.input-field input:hover,
.sign-google:hover,
.sign-google:focus{
    background-color: #e8f0fe;
    filter: drop-shadow(8px 7px 2px rgb(185, 174, 174));
}

/*Adds a shadow, margin and changes background color when the user
focuses (clicks) on the input field*/
.input-field input:focus{
    background-color: #e8f0fe;
    filter: drop-shadow(8px 7px 2px rgb(185, 174, 174));
    margin-bottom: 1em;
}

/*Customise the sign in and sign up buttons*/
.sign-up-button,
.sign-in-button{
    height: 2.5em;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #165d89;
    color: white;
    filter: drop-shadow(8px 7px 2px rgb(185, 174, 174));
    margin-top: 1.5em;
    cursor: pointer;
    transition: 1s ease;
}

/*Changes the background colour and text colour when the sign in or sign up button is hovered*/
.sign-up-button:hover,
.sign-in-button:hover{
    background-color: #e8f0fe;
    color: black;
}

/*Customises the text*/
.have-an-account,
.dont-have-an-account{
    font-weight: bold;
    color: black;
    font-size: 17px;
}

/*Customises the link text*/
.sign-link-redirect{
    text-decoration: none;
    color: #165d89;
}

/*Customise error messages*/
.error-message{
    color: red;
    font-weight: bold;
}

/************************* Side Navigation ***************************/

/*Customises navigation*/
.side-nav{
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 100;
    /*Places the navigation on the left side*/
    top: 0;
    left: 0;
    /*Changes the background colour*/
    background-color: #F5E4C0;
    /*Hiddes overflow*/
    overflow-x: hidden;
    padding-top: 20px;
    /*Displays the elements within the navigation vertically*/
    display: flex;
    flex-direction: column;
    /*Adds a gap between elements*/
    gap: 1em;
    /*Adds a right hand side shadow for the navigation*/
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.4);
}

/*Customises the navigation profile image and text*/
.side-nav-user{
    /*Displays them horizontally*/
    display: flex;
    flex-direction: row;
    /*Adds a gap between the image and name*/
    gap: 1em;
    /*Adds a small padding on the left*/
    padding-left: 1em;
    /*Aligns them horizontally in the center*/
    align-items: center;
}

.profile-pic{
    /*Sets a diameter vertically and horizontally*/
    width: 50px;
    height: 50px;
    /*Makes the image rounded*/
    border-radius: 50%;
    /* Ensures the image fits well */
    object-fit: cover; 
}

/*Arranges the navigation list items vertically*/
.side-nav-list{
    display:flex;
    flex-direction: column;
}

/*Customises the navigation item links*/
.side-nav-list a{
    /*Adds a padding all around the list links*/
    padding: 10px 6px 10px 23px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    /*Makes the link text bold*/
    font-weight: bold;
}

/*Changes the background colour of the list link items once hovered*/
.side-nav-list a:hover,
.side-nav-list a.active{
    background-color: #FFF3D0;
}

/************************* Profile Account ***************************/

/*Places the profile container in the center*/
.account-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Arranges div sections in column (vertically) and adds a gap between them*/
    flex-direction: column;
    gap: 2em;
}

.account-container{
    /*Changes the background colour of the profile info section*/
    background-color: rgb(216, 216, 216);
    /*Makes the container rounded*/
    border-radius: 30px;
    /*Adds a shadow around the container, and curves*/
    filter: drop-shadow(8px 7px 3px rgb(185, 174, 174));
    /*Adds a padding around the container elements*/
    padding: 15px 20px;
    /*Displays all the divs within vertically and adds a gap between them*/
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.profile-image img {
    /*Sets a diameter vertically and horizontally*/
    width: 90px;
    height: 90px;
    /*Makes the image rounded*/
    border-radius: 50%;
    /* Ensures the image fits well */
    object-fit: cover; 
    /*Adds a shadow around the image*/
    filter: drop-shadow(8px 7px 3px rgb(185, 174, 174));
}

/*Arrange the items within the div horizontally and adds a gap between them*/
.account-section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

/*Arrange the items within the div horizontally and adds a gap between them*/
.account-section-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9.5em;
}

/*Arrange the items within the div horizontally and adds a gap between them*/
.account-section-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16.5em;
}

/*Arranges the data and the label vertically and adds a gap between them*/
.account-section-2-name,
.account-section-2-email,
.account-section-3-date{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*Moves the password change link higher up*/
.account-section-3-pass{
    margin-bottom: 3em;
}

/*Customises the password change link*/
.account-section-3-pass a{
    text-decoration: none;
    color: #109bff;
    font-weight: bold;
}

/*Customises the data areas*/
.account-section-2-name span,
.account-section-2-email span,
.account-section-3-date span{
    background-color: rgb(177, 177, 177);
    border-radius: 20px;
    padding: 11px 16px;
    font-weight: bold;
}

/*Customises the log out button*/
.log-out{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(136, 5, 5);
    /*To show that pressing the log out text will perform an action*/
    cursor: pointer;
}

/*Arranges the upload and delete buttons horizontally and adds a gap between them*/
.profile-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;
}


/************************* Responsive Design **************************/


/*Changes design of the software if the screen size is within the boundary, e.g., mobile phone*/
@media only screen and (min-width: 320px) and (max-width: 640px){
    /*Removes the navigation that displays the items on its own
    and the image of the header*/
    #navigation-container-1, #homepage-header-right{
        display: none;
    }

    /*Displays a new navigation which includes a menu icon*/
    #navigation-container-2{
        display: flex;
    }

    /*Changes the size of the logo*/
    #navigation-logo{
        height: 3em;
        width: 13em;
    }

    /*Adds a background image, so that the whole header is not in white colour
    which will then blend with the navigation*/
    #homepage-header{
        background-image: url("/static/glasses-1052010_640.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        filter: brightness(85%);
        color: white;
    }

    /*Arrange the text in columns and increase gap between each of them*/
    #attract-users{
        flex-direction: column;
        gap: 1em;
    }

    /*Change the size of the text*/
    #attract-users span{
        font-size: 1.5em;
    }

    /*Set the beneift area to be displayed without the images affecting the layout*/
    #what-we-offer{
        display: inline;
    }

    /*Prevent the image from beeing displayed*/
    #what-we-offer-img img{
        display: none;
    }

    /*Customise the text*/
    #what-we-offer-text{
        /*Increase the padding*/
        padding-top: 3em;
        padding-bottom: 3em;
        /*Prevents an image from beeing displayed when benefit section is clicked on
        and so affect the layout and responsiveness*/
        pointer-events: none;
        /*Increase gap*/
        gap: 1.5em;
    }

    /*Chnage the layout from row to column so that the benefit sections would be displayed vertically*/
    #what-we-offer-top,
    #what-we-offer-bottom{
        flex-direction: column;
        /*Increase the gap between the benefit section gaps*/
        gap: 1.5em;
        /*Center the boxes*/
        align-items: center;
    }

    /*Change the size of the benefit sections*/
    .benefit-1,
    .benefit-2,
    .benefit-3,
    .benefit-4{
        width: 40%;
        height: 5em;
    }

    /*Displays the text vertically and adds a gap betwen the texts and center it*/
    #footer-container{
        flex-direction: column;
        gap: 2em;
        text-align: center;
    }

    /*Chnages the display from flex to inline so that the text would appear in single line*/
    #footer-link-list{
        display: inline;
        align-items: start;
    }

    /*Displays the form and image vertically and increases the gap between them*/
    #sign-up-container,
    #sign-in-container{
        flex-direction: column;
        gap: 3em;
    }

    /*Sets the size of the images*/
    #sign-up-container img,
    #sign-in-container img{
        width: 15em;
        height: 13em;
    }

    /*Chnages the size of the sign in/up boxes*/
    .sign-up-choice div,
    .sign-in-choice div{
        height: 6em;
        width: 15em;
    }

    /*Removes the image from the sign in and sign up forms*/
    .sign-image{
        display: none;
    }

    /*Makes the logo smaller*/
    .sign-logo{
        width: 16em;
        height: 5em;
    }

    /*Change the width of the input fields to fit within the screen size*/
    .input-field input{
        width: 17em;
    }
}

/*Changes design for a bit bigger sized screens, e.g., tablets*/
@media only screen and (min-width: 641px) and (max-width: 960px){
    /*Prevents the original navigation from beeing displayed*/
    #navigation-container-1{
        display: none;
    }

    /*Displays the navigation with the manu icon*/
    #navigation-container-2{
        display: flex;
    }

    /*Changes the size of the logo*/
    #navigation-logo{
        height: 3em;
        width: 13em;
    }

    /*And a gap at the start and the end of the text*/
    #attract-users{
        justify-content: space-around;
    }

    /*Increase the text size*/
    #attract-users span{
        font-size: 1.4em;
    }

    /*Arrnages the benefit sections in column (vertically)*/
    #what-we-offer{
        flex-direction: column;
        gap: 1em;
    }

    /*Customises the image size*/
    #what-we-offer-img img{
        width: 40em;
        height: 40em;
    }

    /*Customises the benefit areas*/
    #what-we-offer-text{
        display: flex;
        flex-direction: column;
        padding-bottom: 3em;
        gap: 1.5em;
    }

    /*Arranges the benefit areas vertically and adds a gap between them*/
    #what-we-offer-top,
    #what-we-offer-bottom{
        flex-direction: column;
        gap: 1.5em;
    }

    /*Arranges the footer text into column (vertically)*/
    #footer-container{
        flex-direction: column;
        /*Adds a gap*/
        gap: 2em;
        /*Centers the text*/
        text-align: center;
    }

    /*Changes the display form flex to inline for the links within the footer
    so that they would be displayed better and align them to the start of the footer*/
    #footer-link-list{
        display: inline;
        align-items: start;
    }

    /*Arrange the sign up/in boxes wvertically*/
    #sign-up-container,
    #sign-in-container{
        flex-direction: column;
        gap: 3em;
    }

    /*Change the size of the images within the sign in and sign up option boxes*/
    #sign-up-container img,
    #sign-in-container img{
        width: 22em;
        height: 19em;
    }

    /*Change the size of the sign in and sign up option boxes*/
    .sign-up-choice div,
    .sign-in-choice div{
        height: 7em;
        width: 22em;
    }

    /*Removes the image from the sign in and sign up forms*/
    .sign-image{
        display: none;
    }
}

/*Changes design for even larger screen sizes, e.g., desktop*/
@media only screen and (min-width: 961px) and (max-width: 1499px){
    /*Prevents the navigation menu with the menu icon from beeing displayed*/
    #navigation-conatiner-2{
        display: none;
    }

    /*Arrange the text so that it has same space between different texts*/
    #attract-users{
        justify-content: space-evenly;
        align-items: center;
    }

    /*Chnage the size of the text*/
    #attract-users span{
        font-size: 1.4em;
    }

    /*Arrange the image and benefit text areas vertically*/
    #what-we-offer{
        flex-direction: column;
        gap: 1em;
    }

    /*Change the image size*/
    #what-we-offer-img img{
        width: 55em;
        height: 55em;
    }

    /*Arranges the text within the benefit area in column abd increases the gap between them*/
    #what-we-offer-text{
        display: flex;
        flex-direction: column;
        padding-bottom: 3em;
        gap: 1.5em;
    }

    /*Arranges the first two and the last two benefit sections in row (horiontally)*/
    #what-we-offer-top,
    #what-we-offer-bottom{
        flex-direction: row;
        gap: 1.5em;
    }

    /*Changes teh size of the images*/
    .benefit-1,
    .benefit-2,
    .benefit-3,
    .benefit-4{
        width: 40%;
        height: 5em;
    }

    /*Arranges the sign in and sign up options in column (vertically)*/
    #sign-up-container,
    #sign-in-container{
        flex-direction: column;
        gap: 3em;
    }

    /*Chnages the size of the sign in and sign up images*/
    #sign-up-container img,
    #sign-in-container img{
        width: 34em;
        height: 31em;
    }

    /*Changes the size of the sign in and sign up option container*/
    .sign-up-choice div,
    .sign-in-choice div{
        height: 7em;
        width: 34em;
    }

    /*Change the size of the image so that it fits within the screen*/
    .sign-image img{
        height: 50em;
        width: 50em;
    }

    /*Change the width of the input fields to fit within the screen size*/
    .input-field input{
        width: 30em;
    }
}

/*Changes design for even larger screen sizes, e.g., desktop*/
@media only screen and (min-width: 1500px) and (max-width: 2099px){
    /*Adds a same space between each text*/
    #attract-users{
        justify-content: space-evenly;
        align-items: center;
    }

    /*Changes the size of the image*/
    #what-we-offer-img img{
        width: 53em;
        height: 53em;
    }
    
    /*Changes the size of the benefit areas*/
    .benefit-1,
    .benefit-2,
    .benefit-3,
    .benefit-4{
        width: 15em;
        height: 7em;
    }

    /*Add the same space between the sign in and sign up containers (on the right and in the left)*/
    #sign-up-container,
    #sign-in-container{
        justify-content: space-evenly;
    }

    /*Change the size of the sign in and sign up option images*/
    #sign-up-container img,
    #sign-in-container img{
        width: 25em;
        height: 22em;
        flex: 1;
    }

    /*Changes the size of the sign in and sign up container container*/
    .sign-up-choice div,
    .sign-in-choice div{
        height: 7em;
        width: 25em;
        flex: 1;
    }

    /*Adds a padding on the left*/
    .sign-container{
        padding-left: 2em;
    }

    /*Change the size of the image so that it fits within the screen*/
    .sign-image img{
        height: 50em;
        width: 60em;
    }

    /*Change the width of the input fields to fit within the screen size*/
    .input-field input{
        width: 37em;
    }
}